[general]
public_path   = "public"
template_path = "views"

[cookie]
mac_secret= "secret string which has over 256-bit entropy"

[database]
user     = "root"
password = ""
hostname = "localhost"
port     = "3306"
database = "goji"
